.link {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  text-decoration: none;
  composes: text text_type_main-default text_color_inactive from global;

  svg {
    fill: #8585ad;
    margin-right: 8px;
  }
}

.link:hover {
  color: #fff;

  svg {
    fill: #fff;
  }
}

.active {
  color: #fff;

  svg {
    fill: #fff;
  }
}
