.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: pt-30 pb-30 from global;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  composes: mb-20 from global;
}

p {
  a {
    color: #4c4cff;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}
