.card {
  display: block;
  text-decoration: none;
  background: #1c1c21;
  color: #fff;
  box-sizing: border-box;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  cursor: pointer;
}

.card:hover {
  background: #2f2f37;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.sum {
  display: flex;
  align-items: center;
  gap: 9px;
}

.ingredients {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.ingredient {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  padding: 2px;
  box-sizing: border-box;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);

  &:not(:first-child) {
    margin-left: -16px;
  }
}

@for $i from 1 through 5 {
  .ingredient:nth-child(#{$i}) {
    z-index: calc(6 - $i);
  }
}

.imgWrap {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: #000;
  overflow: hidden;
  position: relative;
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgCount {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 33, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
